/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

/* html,
body {
    height: 100%;
} */

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}
/* reset end */

/* "visually hidden" helper */

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

/* my css begins here */

:root {
    --gradient: linear-gradient(hsl(0, 0%, 100%), hsl(191, 70%, 68%));
    --flow-margin: 1.5rem;
    --text: hsl(240, 2%, 10%);
    --heading: hsl(227, 78%, 35%);
    --shadow: hsl(227, 80%, 28%);
    --link: hsl(227, 80%, 28%);
    --visited: hsl(258, 83%, 27%);
}

.flow-margin {
    margin-bottom: var(--flow-margin);
}

a {
    color: var(--link);
}

a:visited {
    color: var(--visited);
}

body {
    background: var(--gradient);
    font-family: 'Montserrat', sans-serif;
    color: var(--text);
}

.wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 1.5rem;
}

header {
    max-width: 780px;
    margin: 0 auto;
}

.hi, h2 {
    color: var(--heading);
    text-shadow: 1px 1px var(--shadow);
    font-weight: 600;
}

.hi {
    display: block;
    font-size: clamp(1.9rem, 4.5vw, 3.75rem);
    margin-bottom: 1rem;
}

h2 {
    font-size: clamp(2rem, 5vw, 4rem);
    margin-bottom: .75rem;
}

h3 {
    color: var(--heading);
    margin-bottom: .5rem;
}

.box {
    background-color: #F5F7FE;
    box-shadow: 3px 3px var(--shadow);
    padding: 24px;
    margin: 0 auto var(--flow-margin);
    border-radius: 5px;
}

.image-box {
    width: 75%;
    border-radius: 50% 50% 5px 5px;
}

.image {
    background-color: black;
    border-radius: 50%;
}

.under-image {
    text-align: center;
    margin-top: var(--flow-margin);
    font-size: small;
    font-weight: 600;
}

@media (min-width: 650px) {
    .grids {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: clamp(32px, 4vw, 52px);
        place-items: start;
    }
    .wrapper {
        margin-top: 50px;
        margin-bottom: 40px;
    }
    .intro {
        margin-top: var(--flow-margin);
    }
    .image-box {
       margin: unset;
       width: 80%;
    }
    .text-box {
        padding: 32px;
    }
}