/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

/* html,
body {
    height: 100%;
} */

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}
/* reset end */

/* "visually hidden" helper */

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

/* my css begins here */

:root {
    --gradient: linear-gradient(hsl(0, 0%, 100%), hsl(191, 70%, 68%));
    --flow-margin: 1.5rem;
    --text: hsl(240, 2%, 10%);
    --heading: hsl(227, 78%, 35%);
    --link: hsl(227, 80%, 28%);
    --visited: hsl(258, 83%, 27%);

    /* shadows from https://www.joshwcomeau.com/shadow-palette/ */
    --shadow-color: 191deg 44% 50%;
    --shadow-elevation-low:
      0.6px 0.7px 1px hsl(var(--shadow-color) / 0.34),
      1px 1.1px 1.6px -1.5px hsl(var(--shadow-color) / 0.31),
      2.3px 2.6px 3.7px -2.9px hsl(var(--shadow-color) / 0.27);
    --shadow-elevation-medium:
      0.6px 0.7px 1px hsl(var(--shadow-color) / 0.36),
      1.8px 2px 2.8px -1px hsl(var(--shadow-color) / 0.33),
      4.6px 5.2px 7.3px -2px hsl(var(--shadow-color) / 0.31),
      11.6px 12.9px 18.3px -2.9px hsl(var(--shadow-color) / 0.28);
    --shadow-elevation-high:
      0.6px 0.7px 1px hsl(var(--shadow-color) / 0.33),
      2.8px 3.1px 4.4px -0.4px hsl(var(--shadow-color) / 0.32),
      5.2px 5.7px 8.2px -0.8px hsl(var(--shadow-color) / 0.31),
      8.7px 9.7px 13.8px -1.3px hsl(var(--shadow-color) / 0.3),
      14.4px 16.1px 22.8px -1.7px hsl(var(--shadow-color) / 0.28),
      23.1px 25.8px 36.6px -2.1px hsl(var(--shadow-color) / 0.27),
      35.7px 39.8px 56.5px -2.5px hsl(var(--shadow-color) / 0.26),
      53.2px 59.3px 84.2px -2.9px hsl(var(--shadow-color) / 0.25);

    /* adapt low version for text */
    --shadow-elevation-low-text:
    0.6px 0.7px 1px hsl(var(--shadow-color) / 0.34),
    1px 1.1px 1.6px hsl(var(--shadow-color) / 0.31),
    2.3px 2.6px 3.7px hsl(var(--shadow-color) / 0.27);

      /* matching version that would go on top of the off-white */
    /* --shadow-color: 233deg 19% 66%;
    --shadow-elevation-low:
        0.6px 0.7px 1px hsl(var(--shadow-color) / 0.34),
        1px 1.1px 1.6px -1.5px hsl(var(--shadow-color) / 0.31),
        2.3px 2.6px 3.7px -2.9px hsl(var(--shadow-color) / 0.27);
    --shadow-elevation-medium:
        0.6px 0.7px 1px hsl(var(--shadow-color) / 0.36),
        1.8px 2px 2.8px -1px hsl(var(--shadow-color) / 0.33),
        4.6px 5.2px 7.3px -2px hsl(var(--shadow-color) / 0.31),
        11.6px 12.9px 18.3px -2.9px hsl(var(--shadow-color) / 0.28);
    --shadow-elevation-high:
        0.6px 0.7px 1px hsl(var(--shadow-color) / 0.33),
        2.8px 3.1px 4.4px -0.4px hsl(var(--shadow-color) / 0.32),
        5.2px 5.7px 8.2px -0.8px hsl(var(--shadow-color) / 0.31),
        8.7px 9.7px 13.8px -1.3px hsl(var(--shadow-color) / 0.3),
        14.4px 16.1px 22.8px -1.7px hsl(var(--shadow-color) / 0.28),
        23.1px 25.8px 36.6px -2.1px hsl(var(--shadow-color) / 0.27),
        35.7px 39.8px 56.5px -2.5px hsl(var(--shadow-color) / 0.26),
        53.2px 59.3px 84.2px -2.9px hsl(var(--shadow-color) / 0.25); */
    
    /* text version for over the off-white */
    --shadow-color-offwhite: 233deg 19% 66%;
    --shadow-elevation-low-offwhite:
        0.6px 0.7px 1px hsl(var(--shadow-color-offwhite) / 0.34),
        1px 1.1px 1.6px hsl(var(--shadow-color-offwhite) / 0.31),
        2.3px 2.6px 3.7px hsl(var(--shadow-color-offwhite) / 0.27);
}

.flow-margin {
    margin-bottom: var(--flow-margin);
}

a {
    color: var(--link);
}

a:visited {
    color: var(--visited);
}

body {
    background: var(--gradient);
    font-family: 'Montserrat', sans-serif;
    color: var(--text);
}

.wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 1.5rem;
}

header {
    max-width: 780px;
    margin: 0 auto;
}

.hi, h2 {
    color: var(--heading);
    text-shadow: var(--shadow-elevation-low-text);
    font-weight: 600;
}

.hi {
    display: block;
    font-size: clamp(1.9rem, 4.5vw, 3.75rem);
    margin-bottom: 1rem;
}

h2 {
    font-size: clamp(2rem, 5vw, 4rem);
    margin-bottom: .75rem;
}

h3 {
    color: var(--heading);
    /* not sure I like this one on the card */
    /* text-shadow: var(--shadow-elevation-low-offwhite); */
    margin-bottom: .5rem;
}

.box {
    background-color: #F5F7FE;
    box-shadow: var(--shadow-elevation-high);
    padding: 24px;
    margin: 0 auto var(--flow-margin);
    border-radius: 5px;
}

.image-box {
    width: 75%;
    border-radius: 50% 50% 5px 5px;
}

.image {
    background-color: black;
    border-radius: 50%;
}

.under-image {
    text-align: center;
    margin-top: var(--flow-margin);
    font-size: small;
    font-weight: 600;
}

@media (min-width: 650px) {
    .grids {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: clamp(32px, 4vw, 52px);
        place-items: start;
    }
    .wrapper {
        margin-top: 50px;
        margin-bottom: 40px;
    }
    .intro {
        margin-top: var(--flow-margin);
    }
    .image-box {
       margin: unset;
       width: 80%;
    }
    .text-box {
        padding: 32px;
    }
}